body {
  height: 101vh;
}
* {
  outline: 0;
}
.pageWrapper {
  min-height: 100vh;
}

.contentArea {
  flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
  background-color: $white;
}

.list-group-item {
  background-color: $white !important;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;

  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}

.button-group .btn {
  margin: 3px;
}

table {
  th,
  td {
    background-color: $white !important;
  }

  th {
    font-weight: 500;
  }
}

.dropdown-menu {
  background-color: $white !important;
}

.btn {
  border-radius: 2px !important;
  padding: 0.275rem 0.45rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  border-width: 1px !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.form-control {
  display: block !important;
  width: 100% !important;
  padding: 6px 12px !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #0f172a !important;
  background-color: white !important;
  background-clip: padding-box !important;
  border: 2px solid #e2e8f0 !important;
  appearance: none !important;
  border-radius: 5px !important;
}

.form-control:focus {
  border: 2px solid #8b5cf6 !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.form-control::placeholder {
  color: #94a3b8 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 2px !important;
  box-shadow: 0 1px 3px 0 rgba(169, 184, 200, 0.15) !important;
  margin-bottom: 30px;
  padding: 8px;
}

.card-left {
  background-color: #334155 !important;
}

.sidebar_search {
  position: relative;
}

.custom-radius {
  border-radius: 60px !important;
}

.custom-radius:focus {
  border-radius: 60px !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.form-control-icon {
  position: absolute;
  top: 5px;
  right: 14px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #78909c;
}

.border-end {
  border-right: 1px solid #edf2f9 !important;
}

.dropdown-menu {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.375rem;
  width: 14rem;
  z-index: 10;
}

.hover_logout:hover {
  background-color: #fee2e2;
}

.input-error {
  border-color: var(--bs-danger) !important;
}

.input-error:focus {
  border-color: var(--bs-danger) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Pour les navigateurs basés sur Chromium */
  -webkit-autofill-background-color: transparent !important; /* Pour les navigateurs basés sur Chromium */
}

