.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  box-shadow: none !important;
  background-color: white !important;
  font-weight: 500;
  .nav-link {
    color: #78909c;
  }
  .sidenav-bg:hover {
    background-color: #ede9fe;
    border-radius: $border-radius;
    .nav-link {
      color: #8b5cf6;
    }
    .sub-menu {
      .nav-link {
        color: #78909c; // Couleur de texte souhaitée pour les liens du sous-menu au survol
      }
    }
  }
  .sidenav-bg .active {
    border-radius: $border-radius;
    color: #8b5cf6;
    background-color: #ede9fe;
    font-weight: 500;
  }
}

.sub-menu {
  background-color: #f8f9fa; /* Couleur de fond pour le sous-menu */
  padding: 0.5rem 0; /* Ajoutez un peu d'espacement intérieur si nécessaire */
}

.sub-menu .nav-link {
  color: #78909c; /* Couleur du texte pour les liens du sous-menu */
}
.sub-menu .nav-link:hover {
  background-color: #e9eaeb; /* Couleur du texte pour les liens du sous-menu */
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 1;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}

.sidebar-content {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.sidebar-content::-webkit-scrollbar {
  width: 8px;
}

.sidebar-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background-color: #b199eb;
  border-radius: 4px;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background-color: #8b5cf6;
}
