/**
  color : #ec4899 , #1e293b, #334155
*/
body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #1e293b !important;
  padding: 15px 0px;
}
.btn_search {
  border-radius: 0px 5px 5px 0px !important;
  background-color: #ec4899;
}
.btn_search:hover {
  border: 1px solid #ec4899;
  color: white;
}

.btn_search_input {
  border-radius: 5px 0px 0px 5px !important;
  outline: none;
  box-shadow: none !important;
  border: 0px !important;
}
.login {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
}
.nav_item:hover {
  opacity: 0.5;
}
.navbar-brand {
  font-weight: bold !important;
  font-size: 25px !important;
  color: #ec4899 !important;
}
#sous_nav {
  background-color: #334155 !important;
  padding: 5px 0px !important;
}
.all_categories {
  background-color: white !important;
  border-radius: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.dropdown-item:hover {
  background-color: #ec4899 !important;
  color: white !important;
}
.navbar_item:hover {
  opacity: 0.5;
}
.product_card {
  border-radius: 0px !important;
}
.img_header {
  position: relative;
}
.img_header img {
  border-radius: 5px 5px 0px 0px !important;
}
.favoris {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0px 5px;
  color: #475569;
  font-size: 20px;
  background-color: #f1f5f9;
  border-radius: 50px;
  cursor: pointer;
}
.icon_favoris {
  padding: 0px 5px;
  color: #475569;
  font-size: 30px;
  background-color: #f1f5f9;
  border-radius: 50px;
  cursor: pointer;
}
#brand {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: bold;
  background-color: #1e293b !important;
  color: #ec4899;
  border: none;
}
.rating {
  color: var(--bs-warning);
}
.footer {
  background-color: #1e293b;
  color: white !important;
}
.footer a {
  color: white !important;
}
