* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background-color: #1e293b;
  padding: 6px 14px !important;
}
.sidebar .logo_content .logo {
  color: #fff;
  display: flex !important;
  height: 50px;
  width: 100%;
  align-items: center !important;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  color: #fff;
  position: absolute;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar ul {
  margin-top: 20px;
  width: 240px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 240px;
  list-style: none;
  margin: 0 -46px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 170px;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  /* opacity: 1; */
  top: 50%;
}
.sidebar ul li a {
  display: flex;
  align-items: center !important;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease;
  opacity: 0.5;
  font-size: 15px;
}
.sidebar ul li a:hover {
  background-color: #334155;
  color: white;
  opacity: 1;
}
.sidebar ul li a i {
  height: 50px;
  min-width: 30px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background-color: #334155;
}

.sidebar .profile_content .profile .profile_details {
  display: flex;
  align-items: center !important;
}
.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_details .name_job {
  margin-left: 10px;
}
.profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile_details .job {
  font-size: 12px;
}
#log_out {
  position: absolute;
  left: 88%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 20px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}
.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 250px;
}
/* .links_span {
  opacity: 0.5;
} */
